@tailwind base;
@tailwind components;
@tailwind utilities;

@theme{
  --color-defaultdark: #191a1b;
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  /* background-color removed so app controls page background dynamically */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --defaultdark: hsl(200, 6%, 10%);
  --lighterdark: hsl(200, 6%, 20%);  
}

body {
  margin: 0;
  display: block;
}

html, body, #root {
  width: 100%;
  min-height: 100%;
}